@import "reset";

html, body
{
	background-color: #333;
}

game
{
	display: block;
	width: 540px;
	height: 960px;
	background-color: #010101;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -480px;
	margin-left: -270px;
	border-radius: 4px;
}

canvas
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

score
{
	display: block;
	position: absolute;
	top: 16px;
	left: 16px;
	color: white;
	font-size: 1.25em;
	font-family: sans-serif;
}

gameover
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);

	h1
	{
		color: white;
		font-family: sans-serif;
		font-size: 32px;
		text-align: center;
		margin-top: 20%;
	}

	button
	{
		cursor: pointer;
		display: block;
		margin: 0 auto;
		margin-top: 64px;
		width: 50%;
		padding: 16px;
		border-radius: 4px;
		color: white;
		background-color: #00a6ef;
		border: 0;
		font-size: 1.25em;
		letter-spacing: 1px;
	}
}
