/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  background-color: #333; }

game {
  display: block;
  width: 540px;
  height: 960px;
  background-color: #010101;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -480px;
  margin-left: -270px;
  border-radius: 4px; }

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

score {
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  font-size: 1.25em;
  font-family: sans-serif; }

gameover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8); }
  gameover h1 {
    color: white;
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 20%; }
  gameover button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 64px;
    width: 50%;
    padding: 16px;
    border-radius: 4px;
    color: white;
    background-color: #00a6ef;
    border: 0;
    font-size: 1.25em;
    letter-spacing: 1px; }
